* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header section*/ 

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: white;
}
.logo {
  font-size: 24px;
  color: #D96941;
  margin-left: 8rem;
}
header ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    margin-right: 8rem;
}

header a {
    text-decoration: none;
    color: #D96941;
    font-size: 18px;
}


/*Hero section*/  

#hero {
    background-color: #193C40;
    display: flex;
    justify-content: space-evenly;
    gap: 4rem;
    padding: 6rem;
}
.hero-text {
    width: 400px;
}
#hero h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #D96941;
}
.hero-text p {
    color: #D96941;
    font-size: 18px;
}
button {
    background-color: #2E5902;
    padding: 5px 30px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: #F9FAF8;
    margin-top: 10px;
}
.img {
    background-color: grey;
   width: 400px;
   height: 220px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}



/*Info section*/  


#info {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
h2 {
    text-align: center;
    margin-bottom: 2rem;
}
.info-section {
    margin: 6rem 0;
}
.box {
    width: 200px;
    height: 200px;
    border: 2px solid #2E5902;
    border-radius: 10px;
}
.box-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text {
    text-align: center;
    width: 200px;
    margin-top: 5px;
}


/*quote section*/ 


.quote {
    background-color: #2E5902;
    padding: 6rem 15rem;
}


.quote p {
    font-size: 36px;
    color: white;
    font-style: italic;
    font-weight: lighter;
}
.quote .author {
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
    float: right;
    margin-top: 2rem;
    margin-right: 6rem;
}


/*Call to action section*/

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bluearea {
    display: flex;
    background-color: #193C40;
    padding: 2rem;
    border-radius: 10px;
    margin: 4rem;
}
.bluearea button {
    border: 1px solid #F9FAF8;
    margin-left: 2rem;
}
.textarea {
    color: #F9FAF8;
}

/*foooter*/
footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #193C40;
    color: #F9FAF8;
}



